<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li>Biotterとは
        <ul>
          <li>
            Bio + bot + twitter = Biotter です
          </li>
          <li>
            ツイッターのプロフィール(bio)の履歴が見れます
          </li>
          <li>
            <a href="https://twitter.com/_Biotter_">@_Biotter_</a>
            でプロフィールを集めています. フォローしてね~(フォローしてくれないとプロフィール集められません)
          </li>
          <li>
            お問い合わせはbotのDMか<a href="https://github.com/tetetratra/biotter/issues">こちら</a>へお願いします
          </li>
        </ul>
      </li>
      <li>更新情報
        <ul>
          <li>
            [2021/02/21] herokuで動かすようにしました。それに伴い、SSL非対応になりました...
          </li>
          <li>
            [2020/秋頃] バナー画像も保存するようになりました
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>

