/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  margin-top: 8rem;
}

div.search-form * {
  float: left;
}

div.row_content:hover {
  background: #EEEEEE;
}

strong.user-name {
  font-size: 14px;
  padding-bottom: 2px;
}

a.download_button {
  background: #DDFFEE;
  border-radius: 8px;
  margin: 8px;
  padding: 5px;
}

a[rel=next], a[rel=prev] {
  display: inline-block;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  margin-bottom: 6px;
  background: #DDDDFF;
}

.banner {
  position: absolute;
  top: 15px;
  right: 130px;
}

@media screen and (max-width: 42em) {
  .banner {
    top: 80px;
    right: 0px;
  }
}
